$mainColor: rgb(93, 156, 236);
body{
    font-family: 'open sans' , sans-serif;
    overflow: hidden;
}
*:focus{
    outline: none;
    
}
@import 'loader';
@import 'methods';
@import 'header';

@import 'features';
@import 'work';
@import 'team';
@import 'facts';
@import 'contacts';

#map 
{
    height: 200px;
}

@import 'footer';